<ul class="list-group m-2">
  <li class="list-group-item" *ngFor="let hero of heroes;let i = index">

    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <h4>{{hero.name | uppercase}}</h4><br>
          <p>{{hero.description | titlecase}}</p>
          <p>Estatura: {{hero.height | height : 'fhgfhgf'}}</p>
          <ngb-rating [(rate)]="hero.rate" (rateChange)="rate(i, hero.rate)"></ngb-rating>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <button type="button" class="btn btn-danger" (click)="removeHero(i)">Eliminar</button>
      </div>
    </div>

  </li>
</ul>
